<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Scoreboard</title>
  <link rel="stylesheet" href="/stylesheets/board.css">
  <script src="/lib/angular/angular.min.js"></script>
  <script src="/lib/angular-resource/angular-resource.min.js"></script>
  <script src="/javascripts/board.js"></script>
  <script src="http://channel.cdn.sohusce.com/channel.min.js"></script>
  <script src="//10.2.25.187:35729/livereload.js"></script>
</head>

<body screen_capture_injected="true">

  <div id="todoapp" ng-controller="BoardCtrl">

    <header>
      <h1>Scoreboard</h1>
      <input id="clear" type="button" ng-click="delete()" value="Start/Clear">
    </header>

    <section id="main" style="display: block;">
    <ul id="todo-list">
    <li ng-repeat="player in list">
      <div class="view">
        <label>{{player.name}}</label>
        <label>caught {{player.score}} goblins</label>
        <label class="msg" ng-show="!!player.msg">{{player.msg}}</label>
        <!-- <a class="destroy"></a> -->
      </div>
      <input class="edit" type="text" value="lixin">
    </li>
    </ul>
    </section>

    <footer style="display: block;">
    
    <div class="todo-count"><b>{{list.length}}</b> players</div>
  </footer>

  </div>

  <div id="instructions">
    Double-click to edit a todo.
  </div>

  <div id="credits">
    Created by
    <br>
    <a href="http://pushcloud.apps.sohuno.com/">SOHU.com</a>.
    <br>Source: <a href="https://github.com/crzidea/catch-goblins">crzidea/catch-goblins</a>.
  </div>

<div class="vimiumReset vimiumHUD" style="right: 150px; opacity: 0; display: none;"></div>
</body>
</html>
