<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--
    <meta name="viewport" content="user-scalable=no"/>
    -->
    <title>Game</title>
    <!-- // <script type="text/javascript" src="/lib/angular/angular.min.js"></script> -->
    <!-- // <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script> -->
    <!-- // <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script> -->
    <script src="http://channel.cdn.sohusce.com/channel.min.js"></script>
    <script src="//10.2.25.187:35729/livereload.js"></script>
    <style>
      html, body, canvas, input{
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    </style>
  </head>
  <body ondragstart="return false;" ondrop="return false;">
    <script src="javascripts/game.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
